  <ion-buttons slot="end">
    <ion-button routerLink="/home">
      <ion-icon name="refresh-outline" slot="icon-only" class="custom-back-icon"></ion-icon>
    </ion-button>
  </ion-buttons>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ticket-container">
    <img src="./assets/imagenes/ticket-icon.png" alt="Ticket Icon" class="ticket-icon" />

    
      <ion-item lines="none">
        <ion-label class="texto" position="stacked">Nombre.</ion-label>
        <ion-input [(ngModel)]=" nom_cli"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label class="texto" position="stacked">Apellidos.</ion-label>
        <ion-input [(ngModel)]="apellidos"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label class="texto" position="stacked">Hora De Reserva.</ion-label>
        <ion-input [(ngModel)]="hora_llegada" type="datetime-local"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label class="texto" position="stacked">Hora De Salida.</ion-label>
        <ion-input [(ngModel)]="hora_salida" type="datetime-local"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label class="texto" position="stacked">Motivos.</ion-label>
        <ion-textarea [(ngModel)]="motivos" placeholder="Escribe el motivo..."></ion-textarea>
      </ion-item>

      <ion-button expand="block" type="submit" color="light" class="create-ticket-button"
      (click)="crearTicket()">
        Crear Ticket.
      </ion-button>
    
  </div>
</ion-content>
