<ion-header>
  <ion-toolbar color="dark">
    <!-- Flecha de regreso -->
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="refresh-outline" slot="icon-only" class="custom-back-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="perfil-page">
  <div class="perfil-container">
    <!-- Imagen del ícono del perfil -->
    <img src="assets/imagenes/img-perfil.png" alt="Usuario" class="perfil-image" />

    <!-- Formulario de perfil -->
      <ion-label class="texto" position="stacked">Nombre</ion-label>
      <ion-item  *ngIf="usuario" lines="none" class="custom-item">
        <p>{{ usuario.nombre }}</p>
      </ion-item>

      <ion-label  *ngIf="usuario" class="texto" position="stacked">Correo</ion-label>
      <ion-item  *ngIf="usuario" lines="none" class="custom-item">
        <p>{{ usuario.correo }}</p>
      </ion-item>

      <ion-label class="texto" position="stacked">Historial de reservas</ion-label>
        <ion-button expand="block" routerLink="/historial" class="option-button">
          Historial
        </ion-button>
  </div>
</ion-content>
