<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="title">
      HISTORIAL.
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button routerLink="/perfil">
        <ion-icon name="refresh-outline" slot="icon-only" class="custom-back-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background-dark">
  <div class="date-section">
    Hoy - {{ fechaActual | date: 'dd MMM yyyy ' }}
  </div>

  <ion-list lines="none">
    <ion-item *ngFor="let item of reservas" class="item-style">
      <ion-avatar slot="start">
        <img src="assets/imagenes/icono.png" />
      </ion-avatar>
      <ion-label>
        <h2>Reserva</h2>
        <p>HORA DE LLEGADA: {{ item.hora_llegada | date: 'dd/MM/yyyy HH:mm' }}</p>
        <p>HORA DE SALIDA: {{ item.hora_salida |date: 'dd/MM/yyyy HH:mm' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
