<ion-content [fullscreen]="true" class="ion-padding">
  <div class="home-container">
    <!-- Logo -->
    <img src="./assets/imagenes/logoParkDuoc.png" alt="ParkDuocUC" class="logo" />

    <!-- Bienvenida -->
    <div class="welcome-text">
      <h1>Bienvenido a ParkDuocUC</h1>
    </div>

    <!-- Opciones principales -->
    <div class="options">
      <ion-button expand="block" routerLink="/parking" class="option-button">
        Ver disponibilidad de estacionamiento
      </ion-button>
      <ion-button expand="block" routerLink="/crearticket" class="option-button">
        Reservar un espacio
      </ion-button>
      <ion-button expand="block" routerLink="/historial" class="option-button">
        Historial
      </ion-button>
    </div>
  </div>
</ion-content>
