<ion-content [fullscreen]="true" class="ion-padding">
  <div class="parking-container">
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="refresh-outline" slot="icon-only" class="custom-back-icon"></ion-icon>
      </ion-button>
      <ion-button (click)="refrescar()">
        Actualizar
      </ion-button>
    </ion-buttons>

    <!-- Leyenda -->
    <div class="legend">
      <div class="legend-item">
        <div class="circle available"></div>
        <span>Desocupado</span>
      </div>
      <div class="legend-item">
        <div class="circle occupied"></div>
        <span>Ocupado</span>
      </div>
      <div class="legend-item">
        <div class="circle reserved"></div>
        <span>Reservado</span>
      </div>
    </div>

    <!-- Mapa de estacionamiento -->
    <div class="parking-lot">
      <!-- Fila superior -->
      <div class="row">
        <div
          *ngFor="let espacio of espacios.slice(0, 5)"
          class="espacio"
          [ngClass]="espacio.estado"
        >
          {{ espacio.id }}
        </div>
      </div>

      <!-- Corredor central -->
      <div class="center-area"></div>

      <!-- Fila inferior -->
      <div class="row">
        <div
          *ngFor="let espacio of espacios.slice(5, 10)"
          class="espacio"
          [ngClass]="espacio.estado"
        >
          {{ espacio.id }}
        </div>
      </div>

      <div class="center-area"></div>
    
      <div class="row">
        <div
          *ngFor="let espacio of espacios.slice(11, 20)"
          class="espacio"
          [ngClass]="espacio.estado"
        >
          {{ espacio.id }}
        </div>
      </div>

    </div> 
  </div>
</ion-content>
